#aqi-chart-wrap{
	position: relative;
	margin: 50px 0 0 100px;
	padding-left: 20px;
	/*padding-bottom: 2px;*/
	height: auto;
	width: 1100px;
	background-color: gray;
}
.aqi-num{
	position: relative;
	display: inline-block;
	bottom: 0px;
	margin: 1px 1px 0 1px ;
	background-color:white;
}