.grid{
	width: 100%;
}
.sub{
	width: 190px;
	float: left;
	margin-left: -100%;
	background: gray;
}
.grid .main{
	width: 100%;
	float: left;
	background: #fff;
}
.grid .main .main-wrap{
	margin-left: 200px;
	margin-right: 200px;
}
.extra{
	width: 190px;
	float: left;
	margin-left: -190px;
	background: gray;
}