header {
    background: gray;
    height: 60px;
    padding: 10px;
}
header img{
	height: 50px;
	padding-left: 20px;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}

p {
    color: green;
}
