* {
    padding: 0;
    margin: 0;
}

body {
    width: 1280px;
}

.main {
    position: absolute;
    width: 1280px;
    left: 1%;
}

header {
    position: relative;
    height: 57px;
    /* background: gray;*/
}

.logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
}

.logo img {
    display: inline-block;
    /* width: 31px;*/
}

.logo p {
    display: inline;
    position: absolute;
    top: 13px;
    margin-left: 7px;
    /*  height: 45px; */
    width: 70px;
    font-size: 21px;
}

nav {
    display: inline-block;
    position: absolute;
    top: 17px;
    margin-left: 480px;
}

nav ul li {
    display: inline-block;
}

nav ul>li {
    margin-left: 42px;
    width: 65px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    color: #787b83
}

nav ul>li a {
    text-decoration-line: none;
}

nav ul>li a:visited {
    color: #787b83;
}

nav ul>li a:hover {
    color: #e74f4d;
}

nav ul>li:hover {
    border-bottom: 5px solid #e74f4d;
}

.login {
    display: inline-block;
    position: absolute;
    right: 65px;
    top: 17px;
}

.login img {
    /* width: 14px;
    height: 14px; */
}

.login p {
    display: inline-block;
    font-size: 14px;
}

.login p a {
    text-decoration: none;
    color: #e74f4d;
}

.login p a:hover {
    color: #e74f4d;
}

.l1 {
    position: relative;
    background-image: url("/img/main.png");
    height: 854px;
}

.l1 p:first-child {
    position: absolute;
    top: 230px;
    left: 120px;
    height: 50px;
    width: 454px;
    font-size: 46px;
    font-family: arial;
    text-transform: full-width;
    /*font-weight: 400;*/
    color: white;
    /* text-align: center;*/
    /*background: gray;*/
}

.l1 p:nth-child(2) {
    position: absolute;
    top: 310px;
    left: 120px;
    height: 53px;
    width: 293px;
    font-size: 18px;
    color: white;
    /* background: gray;*/
}

.l1 p:last-child {
    position: absolute;
    box-sizing: border-box;
    padding-top: 9px;
    top: 430px;
    left: 120px;
    height: 65px;
    width: 311px;
    font-size: 29px;
    text-align: center;
    color: white;
    background: #e74f4d;
}

.l2 {
    position: relative;
    margin: 0;
    padding: 0;
    height: 250px;
    width: 1280px;
    /*overflow: hidden;*/
}

.l2 div {
    display: inline-block;
    height: 250px;
    width: 310px;
    /*background: gray;*/
}

.l2 div div {
    /*background: gray;*/
    box-sizing: border-box;
    height: 50px;
    width: 310px;
    padding: 0 78px;
    /*border-right: solid 1px;*/
}

.l21 div p {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #767777
}

.l2 div:nth-child(1) {
    position: absolute;
    top: 0px;
}

.l2 div:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 310px;
}

.l2 div:nth-child(3) {
    position: absolute;
    top: 0px;
    left: 620px;
}

.l2 div:nth-child(4) {
    position: absolute;
    top: 0px;
    left: 930px;
}

.l2 div:nth-child(1) div {
    position: absolute;
    left: 2px;
    top: 135px;
    border-right: solid 2px #767677;
}

.l2 div:nth-child(2) div {
    position: absolute;
    left: 2px;
    top: 135px;
    border-right: solid 2px #767677;
}

.l2 div:nth-child(3) div {
    position: absolute;
    left: 2px;
    top: 135px;
    border-right: solid 2px #767677;
}

.l2 div:nth-child(4) div {
    position: absolute;
    left: 2px;
    top: 135px;
    border-right: none;
}

.l2 div img {
    position: absolute;
    left: 130px;
    top: 47px;
}

.l3 {
    position: relative;
    height: 361px;
    background: #edecec;
}

.l3 img {
    position: relative;
    top: 90px;
    left: 594px;
    background: #8f8f8f
}

.l3 p {
    position: absolute;
    top: 230px;
    left: 210px;
    height: 53px;
    width: 826px;
    font-size: 53px;
    color: #8f8f8f
}

.l4 {
    position: relative;
    background-image: url("img/4-1.png");
    height: 341px;
    opacity: 1;
    z-index: 2;
}

.l4-1 {
    position: relative;
    background-color: #aa3432;
    height: 341px;
    opacity: 0.2;
    z-index: 0;
}

.l4-p1 {
    position: absolute;
    top: 53px;
    left: 498px;
    width: 235px;
    height: 27px;
    font-size: 21px;
    color: #ffffff;
    /* z-index: 2;
    background: gray;
    opacity: 1;
     */
}

.l4 hr {
    position: absolute;
    top: 94px;
    left: 600px;
    width: 28px;
    color: #ffffff;
}

.l4-p2 {
    position: absolute;
    top: 103px;
    right: 451px;
    color: #ffffff;
}

.l4 select:first-child {
    position: absolute;
    top: 173px;
    left: 126px;
    width: 235px;
    height: 35px;
    background: white;
}

.l4 select:nth-child(2) {
    position: absolute;
    top: 173px;
    left: 392px;
    width: 235px;
    height: 35px;
    background: white;
}

.l4 select:nth-child(3) {
    position: absolute;
    top: 173px;
    left: 657px;
    width: 235px;
    height: 35px;
    background: white;
}

.l4 form input {
    position: absolute;
    top: 173px;
    right: 126px;
    width: 235px;
    height: 35px;
    background: #aa3432 text-fill-color: white;
}

.l5 {
    position: relative;
    background: #f7f7f7;
    height: 631px;
    color: white;
}

.l5 img {
    position: absolute;
    top: 138px;
    left: 156px;
    z-index: 4;
}

.l5 .text {
    position: absolute;
    top: 130px;
    left: 200px;
    width: 880px;
    height: 385px;
    z-index: 5;
    /* background: gray;
     opacity: 0.2; */
}

.l5 .l5-p {
    position: absolute;
    box-sizing: border-box;
    height: 337px;
    width: 219px;
    background: white;
    z-index: 3;
}

#l5-1 {
    position: absolute;
    left: 147px;
    top: 129px;
    z-index: 4;
    background: white;
    opacity: 0.2;
}

#l5-2 {
    position: absolute;
    left: 406px;
    top: 178px;
    z-index: 4;
    background: white;
    opacity: 0.3;
}

#l5-3 {
    position: absolute;
    left: 658px;
    top: 129px;
    z-index: 4;
    background: white;
    opacity: 0.3;
}

#l5-4 {
    position: absolute;
    left: 915px;
    top: 129px;
    z-index: 4;
    background: white;
    opacity: 0.1;
}

#l5-1 div,
#l5-2 div,
#l5-3 div,
#l5-4 div {
    height: 334px;
    width: 215px;
    z-index: 5;
}

.l5 .text>div {
    width: 130px;
    height: 50px;
    font-size: 14px;
    color: black;
    text-align: center;
}

.l5 .text .bj {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
}

.l5 .text .sh {
    position: absolute;
    width: 235px;
    left: 205px;
    top: 0px;
}

.l5 .text .sh h4 {
    font-size: 20px;
    letter-spacing: 1.7em;
    /*text-align: justify;*/
}

.l5 .text .sz {
    position: absolute;
    left: 480px;
    bottom: 0px;
}

.l5 .text .xg {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

.l6 {
    position: relative;
    height: 566px;
    overflow: hidden;
}

.l6 .img {
    position: relative;
    display: inline-block;
    background: url("img/6-1.png");
    height: 567px;
    width: 850px;
}

.l6 .img p:first-child {
    position: absolute;
    top: 134px;
    left: 340px;
    width: 147px;
    height: 48px;
    color: white;
    font-size: 46px;
}

.l6 .img p:nth-child(2) {
    position: absolute;
    top: 165px;
    left: 240px;
    width: 368px;
    height: 119px;
    color: white;
    font-size: 110px;
    font-family: arial;
}

.l6 .img p:last-child {
    position: absolute;
    top: 284px;
    left: 340px;
    width: 154px;
    height: 62px;
    color: white;
    font-size: 22px;
    line-height: 34px
}

.l6 .text {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 567px;
    width: 431px;
    font-family: arial;
}

.l6 .text article {
    position: absolute;
}

.l6 .text article h2 {
    position: absolute;
    height: 20px;
    width: 103px;
    top: 163px;
    left: 165px;
    font-size: 20px;
}

.l6 .text article h2 span {
    color: #e7504d
}

.l6 .text article p {
    position: absolute;
    left: 72px;
    top: 214px;
    height: 102px;
    width: 288px;
}

.l6 .text div {
    position: absolute;
    box-sizing: border-box;
    top: 368px;
    left: 160px;
    width: 107px;
    height: 35px;
    border: solid 1px #e7504d;
    text-align: center;
    padding: 5px 0 0 0;
}

.l6 .text div a {
    text-decoration-line: none;
}

.l6 .text div a:visited {
    color: #e7504d
}

.l6 .text .circle {
    position: absolute;
    top: 418px;
    left: 154px;
    border: none;
}

.l6 .text .circle>div {
    box-sizing: border-box;
    position: relative;
    left: 5px;
    top: 5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: solid 1px #929293;
}

.l6 .text .circle>div:hover {
    background: #929293;
}

.l6 .text .circle>div:first-child {
    position: relative;
    left: -9px;
}

.l6 .text .circle>div:last-child {
    position: relative;
    left: 18px;
}

.l7 {
    position: relative;
    height: 521px;
    width: 1280px;
    overflow: hidden;
}

.l7 div {
    display: inline-block;
    position: absolute;
    height: 521px;
    width: 430px;
}

.l7 div h3 {
    position: relative;
    top: 170px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.l7 div p {
    position: relative;
    top: 165px;
    font-size: 20px;
    text-align: center;
}

.l7 div hr {
    position: relative;
    width: 32px;
    top: 200px;
    left: 200px;
    color: white;
}

.l7 div a {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    left: 120px;
    top: 230px;
    width: 200px;
    height: 44px;
    padding-top: 6px;
    text-decoration-line: none;
    text-align: center;
}

.l7 div:first-child a {
    color: white;
    border: solid 2px white;
}

.l7 div:nth-child(2) a {
    color: black;
    border: solid 2px #e7504d;
}

.l7 div:first-child {
    position: absolute;
    background-color: #e7504d;
    color: white;
}

.l7 div:nth-child(2) {
    position: absolute;
    left: 431px;
    background: white;
}

.l7 div:nth-child(3) {
    position: absolute;
    left: 850px;
    background-image: url("img/7-1.png");
    background-color: #3d2e15;
    opacity: 0.7;
}


/* .l7 div:last-child {
    position: absolute;
    left: 850px;
    opacity: 0.6;
    background: #3d2e15;
   z-index: 1;
}
 */

.l8 {
    position: relative;
    box-sizing: border-box;
    height: 752px;
    width: 1280px;
    padding: 130px 132px 176px;
}

.l8 div:first-child {
    position: relative;
    height: 182px;
}

.l8 div:first-child h3 {
    /* position: absolute;*/
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.l8 div:first-child p {
    /* position: absolute;*/
    width: 420px;
    font-size: 12px;
    margin-left: 310px;
    text-align: center;
    color: #afafaf
}

.l8 div:nth-child(2) {
    position: absolute;
    display: inline-block;
    height: 283px;
    width: 288px;
}
.l8 div:nth-child(2) h4{
    margin-bottom: 25px;
    color: #5b5250;
}
.l8 div:nth-child(2) p{
    margin-bottom: 33px;
    color: #a7a2a1;
}
.l8 div:last-child {
    position: absolute;
    left: 500px;
    display: inline-block;
    height: 283px;
    width: 640px;
}
.l8 div:last-child label{
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    width: 316px;
    margin-bottom: 13px;
    background: #ededef;
    text-align:left;
}
.l8 div:last-child input{
    box-sizing: border-box;
    display: inline-block;
    border: 0;
    height: 40px;
    background: #ededef;
}
.l8 div:last-child input[type="submit"]{
    display: block;
    width: 640px;
    margin-top: 13px;
}
.l8 div:last-child form div{
    height: 120px;
    background: #ededef;
}
.l8 div:last-child form div textarea{
    background-color: #ededef;
    border: 0;
}
.l9 {
    position: relative;
    height: 358px;
    background-color: #32363e;
    color: white;
}

.l9 h2 {
    position: absolute;
    top: 92px;
    left: 590px;
}

.l9 p {
    position: absolute;
    top: 125px;
    left: 400px;
    width: 512px;
    height: 35px;
    font-size: 12px;
    text-align: center;
}

.l9 form {
    position: absolute;
    top: 180px;
    left: 400px;
    width: 512px;
    text-align: left;
}

.l9 form input[type="text"] {
    display: inline-block;
    border: 0;
    width: 431px;
    height: 41px
}

.l9 form input[type="submit"] {
    display: inline-block;
    border: 0;
    width: 81px;
    height: 41px;
    color: white;
    background: #6d6f76;
}

.l9 div {
    position: absolute;
    top: 255px;
    left: 550px;
    width: 190px;
    /* z-index: 2;*/
}

.l9 div>a {
    position: relative;
    margin-left: 15px;
}

footer {
    position: relative;
    box-sizing: border-box;
    height: 59px;
    width: 1280px;
    background: #2f3039;
    color: white;
    padding-top: 30px;
    padding-left: 92px;
    font-size: 12px;
}
