* {
    padding: 0;
    margin: 0;
}

body {
    width: 1280px;
}

.main {
    position: absolute;
    width: 1280px;
    left: 1%;
}

header {
    position: relative;
    height: 57px;
    /* background: gray;*/
}

.logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
}

.logo img {
    display: inline-block;
    /* width: 31px;*/
}

.logo p {
    display: inline;
    position: absolute;
    top: 13px;
    margin-left: 7px;
    /*  height: 45px; */
    width: 70px;
    font-size: 21px;
}

nav {
    display: inline-block;
    position: absolute;
    top: 17px;
    margin-left: 480px;
}

nav ul li {
    display: inline-block;
}

nav ul>li {
    margin-left: 42px;
    width: 65px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    color: #787b83
}

nav ul>li a {
    text-decoration-line: none;
}

nav ul>li a:visited {
    color: #787b83;
}

nav ul>li a:hover {
    color: #e74f4d;
}

nav ul>li:hover {
    border-bottom: 5px solid #e74f4d;
}

.login {
    display: inline-block;
    position: absolute;
    right: 65px;
    top: 17px;
}

.login img {
    /* width: 14px;
    height: 14px; */
}

.login p {
    display: inline-block;
    font-size: 14px;
}

.login p a {
    text-decoration: none;
    color: #e74f4d;
}

.login p a:hover {
    color: #e74f4d;
}

.l1 {
    position: relative;
    background-image: url("/img/main.png");
    height: 854px;
}

.l1 p:first-child {
    position: absolute;
    top: 230px;
    left: 120px;
    height: 50px;
    width: 454px;
    font-size: 46px;
    font-family: arial;
    text-transform: full-width;
    /*font-weight: 400;*/
    color: white;
    /* text-align: center;*/
    /*background: gray;*/
}

.l1 p:nth-child(2) {
    position: absolute;
    top: 310px;
    left: 120px;
    height: 53px;
    width: 293px;
    font-size: 18px;
    color: white;
    /* background: gray;*/
}

.l1 p:last-child {
    position: absolute;
    box-sizing: border-box;
    padding-top: 9px;
    top: 430px;
    left: 120px;
    height: 65px;
    width: 311px;
    font-size: 29px;
    text-align: center;
    color: white;
    background: #e74f4d;
}

.l2 {
    position: relative;
    margin: 0;
    padding: 0;
    height: 250px;
    width: 1280px;
    overflow: hidden;
}

.l2 div {
    display: inline-block;
    height: 250px;
    width: 310px;

    /*background: gray;*/
}
.l2 div:nth-child(1){
    position: absolute;
    top: 0px;
}
.l2 div:nth-child(2){
    position: absolute;
    top: 0px;
    left: 310px;
}
.l2 div:nth-child(3){
    position: absolute;
    top: 0px;
    left: 620px;
}
.l2 div:nth-child(4){
    position: absolute;
    top: 0px;
    left: 930px;
}

.l2 div img {
    position: absolute;
    left: 130px;
    top: 47px;
}
.l2 div>div{
    position: absolute;
    /*left: 30px;*/
    top: 47px;
}