* {
    padding: 0;
    margin: 0;
}

body {
    width: 1280px;
}

.main {
    position: absolute;
    width: 1280px;
    left: 1.4%;
}

header {
    position: relative;
    height: 57px;
    /* background: gray;*/
}

.logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
}

.logo img {
    display: inline-block;
    /* width: 31px;*/
}

.logo p {
    display: inline;
    position: absolute;
    top: 13px;
    margin-left: 7px;
    /*  height: 45px; */
    width: 70px;
    font-size: 21px;
}

nav {
    display: inline-block;
    position: absolute;
    top: 17px;
    margin-left: 480px;
}

nav ul li {
    display: inline-block;
}

nav ul>li {
    margin-left: 42px;
    width: 65px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    color: #787b83
}

nav ul>li a {
    text-decoration-line: none;
}
nav ul>li a:visited {
    color: #787b83;
}
nav ul>li a:hover {
    color: #e74f4d;
}

nav ul>li:hover {
    border-bottom: 5px solid #e74f4d;
}

.login {
    display: inline-block;
    position: absolute;
    right: 65px;
    top: 17px;
}

.login img {
    /* width: 14px;
    height: 14px; */
}

.login p {
    display: inline-block;
    font-size: 14px;

}

.login p a {
    text-decoration: none;
    color: #e74f4d;
}

.login p a:hover {
    color: #e74f4d;
}
