body {
    padding: 20px;
    font-size: 15px;
}

.main {
    background: #eee;
    margin: 0 auto;
    border: 1px solid #999;
    overflow: auto;
    min-width: 600px;
    padding: 20px;
}

.left {
    background: #fff;
    border: 1px solid #999;
    width: 160px;
    float: left;
    padding: 20px;
    height: 80px;
}

.team_logo {
   position: absolute;
}

.team_name {
    float: right;
    /*width: 100px;*/
    text-align: right;
    font-weight: bold;
    font-size: 13px;
}
.right{
	width: 120px;
	background: white;
	padding: 20px;
}