* {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    padding-left: 0px;
    background: black;
    height: 60px;
}

header img {
    height: 50px;
    padding-left: 20px;
    padding-top: 5px;
}

header ul {
    float: right;
}

header ul li {
    color: white;
    display: inline-block;
}

header ul li a:hover {
    background: #474747;
    border-radius: 3px;
}


/*主体部分*/

main {
    background: gray;
}

article,
aside {
    display: block;
    background: white;
    margin: 15px;
    box-shadow: 1px 1px 1px 1px gray;
}

article h1 {
    padding-top: 20px;
    padding-left: 10px;
}

article h2,
span {
    padding-left: 10px;
    color: gray;
}

article p {
    padding-left: 10px;
    text-indent: 2em;
    padding-bottom: 25px;
}

article ul {
    padding: 30px;
}

article ul li {
    list-style-type: none;
}

figure {
    text-align: center;
    font-size: 20px;
    border: 1px;
    border-style: solid;
    width: 150px;
    margin: 30px;
}

figure img {
    height: 155px;
    padding: 10px;
}

figure figcaption {
    line-height: 25px;
}

article ol {
    margin: 50px;
}

article table {
    margin: 30px;
    width: 90%;
    position: center;
    padding: 20px;
}

article table td,
article table th {
    border: 1px solid #e6e6e6;
}

article table th {
    background: black;
    color: white;
}

#table_sum {
    background: gray;
}

aside h2 {
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
}

aside form {
    padding: 15px;
}

aside form div .tips {
    float: left;
    text-align: right;
    width: 35%;
    padding-right: 15px;
}

aside form div p {
    margin-left: 35%;
    padding-left: 15px;
    font-size: 12px;
    color: #aaa;
}

aside form button {
    width: 100%;
    background: blue;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
}

aside form button:hover {
    background: #0063dc;
}


/* aside form input {
    padding: 2px;
}
 */
