body {
    padding: 20px;
    font-size: 15px;
}

.main_wrapper {
    background: #eee;
    border: solid 1px #999;
    padding: 20px;
    /* overflow 用于自动根据子元素增加高度*/
    overflow: auto;
    /*margin: 0 auto;*/
}

.left {
    background: #fff;
    border: solid 1px #999;
    float: left;
    padding: 20px;
    width: 160px;

}

.team_logo {
    float: left;
    border: solid 1px #999;

}

.team_name {
    text-align: right;
    font-weight: bold;
}

.right {
    background: #fff;
    border: solid 1px #999;
    float: right;
    width: 120px;

}
.members_logo{
    background: #fff;
    display: block;
    margin: 20px;
    border: solid 1px #999;
}
.middle{
    padding: 20px;
    margin-left: 220px;
    margin-right: 140px;
    background: #fff;
    border: 1px solid #999;
}