header {
    position: relative;
    height: 60px;
    background: green;
}

header h1 img {
    padding-left: 20px;
    height: 50px;
}

header ul {
    position: absolute;
    top: 0;
    right: 10px;
}

header ul li {
    text-align: center;
    width: 60px;
    display: block;
    float: left;
    padding: 20px 10px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

header ul li:hover {
    border-bottom: 1px solid red;
    background: #474747;
    border-radius: 3px;
}


/*主体部分*/

article,
aside {
    display: block;
    margin: 30px;
    padding: 20px;
    background: white;
    box-shadow: 1px 1px 2px 1px #848484;
}

article h2 {
    padding: 5px 0;
}

article h3 {
    padding: 10px 0;
    color: #808080;
    font-size: 16px;
}

.auter,
.aTime {
    line-height: 30px;
    color: #808080;
    font-size: 12px;
}

article a {
    color: blue;
}

article a:hover {
    color: red;
}

article p {
    text-indent: 2em;
}

article img {
    padding: 15px 0;
}

article ul li {
    list-style-type: none;
}
article dl dd{
	width: 129px;
	margin: 15px;
	border: 1px solid #ccc;
}
article dl dd span{
	display: block;
	font-size: 12px;
	text-align: center;
	margin: 5px;
}
article dl dd img{
	width: 110px;
	padding: 5px;
}
article ol{
	margin: 10px 40px;
}
article table{
	width: 100%;
	border-collapse: collapse;
}
article table tr th{
	color: white;
	background: #333;
}
article table tr td{
	border: 1px solid #ccc;
}
article table .buttomTable{
	background: #ccc;
}