* {
    margin: 0;
    padding: 0;
}

.wripper {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 400px;
    background: #ccc;
    margin-top: -100px;
    margin-left: -200px;
    overflow: hidden;
}

.left {
    position: absolute;
    left: -50px;
    top: -50px;
    width: 100px;
    height: 100px;
    background: #fc0;
    border-radius: 50px;
}

.right {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fc0;
    border-radius: 50px 0 0 0;
    left: 350px;
    top: 150px;
}
